@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Next Match Alert!</h1>
    <p class="lead">South Africa (W) vs Namibia (W)</p>
    <p>
        <i class="glyphicon glyphicon-time"></i> 19H30
        <i class="glyphicon glyphicon-calendar"></i> Saturday, 23
    </p>
    <p><i class="glyphicon glyphicon-globe"></i> Nelson Mandela Bay Stadium</p>
    <p>
        <div>
            <i class="glyphicon glyphicon-eye-open"></i> SS 202

        </div>
        <div>
            <i class="glyphicon glyphicon-step-forward"></i> Matchday Tickets

        </div>
    </p>

</div>
<div class="row">
    <table class="table table-striped">
        <tr>
            <th>Position</th>
            <th>Team</th>
            <th>W (Wins)</th>
            <th>D (Draw)</th>
            <th>L (Loses)</th>
            <th>GD (Goal Difference) +/-</th>
            <th>Points</th>
        </tr>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        </tr>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>
        <tr>
            <td> 1</td>
            <td> 2</td>
            <td> 3</td>
            <td> 4</td>
            <td> 5</td>
            <td> 6</td>
            <td> 7</td>

        </tr>
        </tr>
        </tr>
        </tr>
        </tr>

        </tr>
        </tr>

        </tr>
        </tr>
        </tr>
        </tr>

        </tr>
        </tr>
        </tr>
        </tr>
        </tr>
        </tr>
        </tr>
        </tr>
        </tr>
        </tr>
        </tr>
    </table>


    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>